/* Global View */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    width: 100%;
    min-height: 80px;
    background-color: rgb(59, 59, 59);
    margin-bottom: 30px;
}

.header-container, .footer-container {
    max-width: 1024px;
    min-height: 80px;
    margin: 0 auto;
}

footer {
    
    width: 100%;
    min-height: 80px;
    background-color: rgb(59, 59, 59);    
}

a {
    text-decoration: none;
    color: white;
}

.col {
    width: 30%;
    margin: 20px 0px;
    background-color: rgb(39, 167, 226);
}

.hide-on-Descktop {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

p{
    color: white;
    margin: 20px 25px;
    line-height: 1.25rem;
}

.col p {
    font-size: 0.875rem;
}

.col P::first-line{
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    color: white;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    border: solid white 1px;
    border-radius: 2px;
    padding: 11px 25px;
    margin-left: 15px;
}




/* Tablet View */
@media (max-width: 768px){

    .col{
        width: 45%;
    }

    .hide-on-Descktop {
        display: block;
    }

}

/* Mobile View */
@media (max-width: 400px){
    .col{
        width: 100%;
    }
}