/* Global View */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 30%;
    margin: 20px 0px;
    background-color: rgb(39, 167, 226);
}

.hide-on-Descktop {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

p{
    color: white;
    margin: 20px 25px;
    line-height: 1.25rem;
}

.col p {
    font-size: 0.875rem;
}

.col P::first-line{
    font-weight: bold;
}





/* Tablet View */
@media (max-width: 768px){

    .col{
        width: 45%;
    }

    .hide-on-Descktop {
        display: block;
    }

}

/* Mobile View */
@media (max-width: 400px){
    .col{
        width: 100%;
    }
}